<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <networks>
        <network>main</network>
        <network>isolated</network>
    </networks>
    <parameters>
        <parameter id="db.login" value="root"/>
        <parameter id="db.password" value="password"/>
    </parameters>
    <services>
        <service id="component.db_default" class="\Examples\Request">
            <arguments>
                <parameter>%db.login</parameter>
                <parameter>%db.password</parameter>
                <parameter>@component.db_alt</parameter>
            </arguments>
        </service>
        <service id="component.db_alt" class="\Examples\Request2">
            <arguments>
                <parameter>%db.login</parameter>
                <parameter>%db.password</parameter>
            </arguments>
        </service>
    </services>
</config>

